.dashboard-screen {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard-screen .overlap-wrapper {
  background-color: #f8f9fa;
  height: 1580px;
  overflow-x: hidden;
  width: 1920px;
}

.dashboard-screen .overlap {
  height: 1580px;
  left: -26px;
  position: relative;
  top: -9px;
  width: 1902px;
}

.dashboard-screen .new-design {
  height: 1580px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1902px;
}

.dashboard-screen .overlap-group {
  height: 1580px;
  position: relative;
}

.dashboard-screen .main-dashboard {
  height: 1580px;
  left: 248px;
  position: absolute;
  top: 0;
  width: 1654px;
}

.dashboard-screen .sidebar {
  height: 1051px;
  left: 0;
  position: absolute;
  top: 224px;
  width: 248px;
}

.dashboard-screen .iadm-logo {
  height: 183px;
  left: 1322px;
  object-fit: cover;
  position: absolute;
  top: 216px;
  width: 496px;
}

.dashboard-screen .GSA-star-mark-CMYK {
  height: 120px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 133px;
}
